body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
}
h1 {
  color: #333;
}
h2 {
  color: #555;
}
p {
  margin-bottom: 10px;
}
ul {
  list-style-type: disc;
  padding-left: 20px;
}
code {
  background-color: #f4f4f4;
  padding: 2px 4px;
  border-radius: 4px;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.header {
  background-color: rgb(127, 0, 0);
  color: white;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #eee;
}
